---
interface Props {
  text: string;
  author: string;
  rating: number;
  image: string;
}

const { text, author, rating, image } = Astro.props;
const ratingImageUrl = "https://offer.groundedfootwear.co/freedom/en/us/img/stars-5.svg";
---

<div class="flex items-start gap-4 bg-white/50 dark:bg-transparent rounded-lg mt-6 lg:pr-0 lg:pl-0">
  <img src={image} alt={author} class="w-12 h-12 rounded-full object-cover flex-shrink-0" />
  <div class="flex-1">
    <div class="mb-1">
      <img src={ratingImageUrl} alt="5 out of 5 stars" class="h-4" />
    </div>
    <p class="text-sm text-gray-700 dark:text-white mb-2 text-left">{text}</p>
    <div class="flex items-center gap-2">
      <span class="font-semibold text-sm dark:text-white">{author}</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-500" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
      </svg>
      <span class="text-xs text-green-600">Verified Purchaser</span>
    </div>
  </div>
</div>
