---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import { hero } from "../../utils/data";
import CtaButton from "../shared/CtaButton.astro";
import GradiantText from "../shared/GradiantText.astro";
import ImageGallery from "../shared/ImageGallery.svelte";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class=`relative pt-32 lg:pt-36 ${className}`>
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h2 class="text-4xl/tight sm:text-5xl/tight font-bold text-heading-1">
        {hero.titleStart}
        <GradiantText>{hero.titleGradient}</GradiantText>
        {hero.titleEnd}
      </h2>
      <Paragraph className="mt-8">
        {hero.subtitle}
      </Paragraph>
      <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
        <div class="flex sm:flex-row flex-col gap-5 w-full">
          <CtaButton variant="primary">Get Started</CtaButton>
        </div>
      </div>
    </div>
    <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none mx-auto w-full max-w-3xl px-4 sm:px-0">
      <ImageGallery 
        client:load
        mainImage={hero.img}
        galleryImages={hero.galleryImages}
      />
    </div>
  </Container>
</section>
